<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KonfiguratorDemo.Properties.Settings.blindsbaseConnectionString"
            connectionString="server=localhost;user id=root;password=root;database=blindsbase"
            providerName="MySql.Data.MySqlClient" />
        <add name="KonfiguratorDemo.Properties.Settings.blindsbaseConnectionString1"
            connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=blindsbase"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>